## what is pandas
#### pandas is a library used for data analysis and data manipulation . similarly like python pandas too has data type two most famous of them are pandas series and pandas dataframe

## pandas series 
#### Pandas series is like a column in a table . 1d holding data of any type

In [8]:
#lets import pandas
import numpy as np
import pandas as pd

#### how make pandas series? 

####
#### lets make pandas series from string

In [12]:
#string 

country = ['india', 'pak','usa','nepal']
pd.Series(country)

0    india
1      pak
2      usa
3    nepal
dtype: object

In [14]:
#integers

a = [1,2,3,4,5]
pd.Series(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64