## what is pandas
#### pandas is a library used for data analysis and data manipulation . similarly like python pandas too has data type two most famous of them are pandas series and pandas dataframe

## pandas series 
#### Pandas series is like a column in a table . 1d holding data of any type

In [8]:
#lets import pandas
import numpy as np
import pandas as pd

#### how make pandas series? 

####
#### lets make pandas series from string

In [12]:
#string 

country = ['india', 'pak','usa','nepal']
pd.Series(country)

0    india
1      pak
2      usa
3    nepal
dtype: object

In [14]:
#integers

a = [1,2,3,4,5]
pd.Series(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### in above our index in 0 1 like this but we can make custom index too through pandas lets do that too

In [15]:
sub = ['maths', 'science' , 'english ', 'social sutdies']
marks = [2,8,10,5]

In [22]:
print(pd.Series(marks, index = sub))
pd.Series(marks, sub )

maths              2
science            8
english           10
social sutdies     5
dtype: int64

maths              2
science            8
english           10
social sutdies     5
dtype: int64

####  we can also give name to our series object which is another parameter in pd.Series

In [26]:
marks = pd.Series(marks , index = sub , name ="jai mata di ")

In [27]:
print(marks)

maths              2
science            8
english           10
social sutdies     5
Name: jai mata di , dtype: int64

## series from dict

In [30]:
marks ={'maths ':67 , 'english ': 57 , 'science ' : 25 , 'hindi ': 100}
marks_series = pd.Series(marks , name = "jai mata di " )

In [31]:
marks_series

maths        67
english      57
science      25
hindi       100
Name: jai mata di , dtype: int64

# Series Attributes

#### size tell out the size of series

In [36]:
marks_series.size

4

#### dtype tell about the data type of series

In [38]:
marks_series.dtype

dtype('int64')

#### name of series object

In [41]:
marks_series.name

'jai mata di '

#### is_unique tell whether our series has unique element if elements are repeating it will return false

In [44]:
marks_series.is_unique # will return true since there is no returning element

True

In [49]:
m = [1,1,2,3,4,5]
ms=pd.Series(m)
ms.is_unique

False

#### .index attribute gives us the index

In [50]:
marks_series.index

Index(['maths ', 'english ', 'science ', 'hindi '], dtype='object')

In [51]:
ms.index

RangeIndex(start=0, stop=6, step=1)

#### to get values we can write .values

In [53]:
ms.values

array([1, 1, 2, 3, 4, 5], dtype=int64)

In [54]:
marks_series.values

array([ 67,  57,  25, 100], dtype=int64)

# SERIES USING READ_CSV
#### pd.read_csv what does is , it reads csv and return us csv in the form of dataframe

In [58]:

a=pd.read_csv(r"E:\study\Codes\latest codes\MachineLearningFromScratch1\MachineLearningFromScratch\04Pandas\bollywood (2).csv")

In [61]:
type(a)

pandas.core.frame.DataFrame

In [62]:
# we can see that type of a is